html, body{
    margin: 0;
    height: 100%;
}


*{
    box-sizing: border-box;
}

.fondo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #111a24 0%, #1e4149 100%);
    filter: blur(6px);
    z-index: -2;
}

.containerAlpha{
    position: relative;
    top: -100%;
    height: 100%;
}

nav{
    width: 100%;
    min-height: 65px;
    background-color:#2d616d;
    border: white 2px solid;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.titulo__navegador{
    margin: 0px;
    padding-top: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
}

.right_nav{
    margin-top: 17px;
    margin-right: 10px;
}

.left_nav{
    margin-top: 17px;
    margin-left: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    transition: 0.2s;
    transition-property: background;
    transition-timing-function: ease-out;
}

nav a:hover{
    background-color: #171a21;
}

article{
    width: 100%;
    height: 88%;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.container_left, .container_right{
    font-family: "mulish", sans-serif;
    color: white;
}

.container_left{
    width: 20%;
    height: 100%;
    border: 2px double;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container_noticia{
    height: 250px;
    overflow: hidden;
}

.container_noticia img{
    position: absolute;
    vertical-align: middle;
    z-index: -1;
    margin: 10px;
}

.noticia_titular{
    margin: 0px 9px 0px 10px;
    transform: translate(0px, 166px);
    font-size: 13px;
}

.noticia_titular h1{
    margin: 0px;
    background:#00000073 ;
    transition: 0.5s;
    transition-property: background;
}

.container_noticia:hover .noticia_titular h1{
    background: #000000af;
}

.container_right{
    width: 80%;
    height: 100%;
    border: 2px double;
    margin: 0px;
}

footer{
    width: 100%;
    height: 50px;
    border: white 2px solid;
    background-color: #171a21;
    position: relative;
    z-index: 2;
}

.images_footer{
    display: flex;
    justify-content: flex-end;
}

.images_footer img{
    margin: 0px 10px 0px 10px;
    max-width: 50px;
    max-height: 30px;
    padding-top: 10px;
    filter: grayscale(100%);
}

.footer_text{
    margin-right: 100px;
    padding-bottom: 10px;
    color: white;
    font-size: 15px;
    font-family: "mulish", sans-serif;
    color: white;
}